<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div id="app">
        <div class="container">
            <div class="row mt-4">
                <div class="input-group bg-dark">
                    <span class="input-group-text bg-dark text-white">Endpoint</span>
                    <input class="form-control bg-dark text-white" v-model="targetInformations.endpoint" aria-label="With input">
                </div>
                <div class="input-group bg-dark mt-1">
                    <span class="input-group-text bg-dark text-white">Authorization</span>
                    <input class="form-control bg-dark text-white" v-model="targetInformations.authorization" aria-label="With input">
                </div>
                <div class="input-group mt-1">
                    <span class="input-group-text bg-dark text-white">Json payload</span>
                    <textarea class="form-control bg-dark text-white" v-model="targetInformations.jsonPayload" aria-label="With textarea"></textarea>
                </div>
            </div>
        
            <div class="row">
                <div class="col-5 input-group mt-1 w-50">
                    <span class="input-group-text bg-dark text-white">Quantidade de consumidores</span>
                    <input class="form-control bg-dark text-white" v-model="targetInformations.consumersQuantity" type="number">
                </div>
                <div class="col-5 input-group mt-1 w-50">
                    <span class="input-group-text bg-dark text-white">Quantidade de requisições</span>
                    <input class="form-control bg-dark text-white" v-model="targetInformations.requestsPerConsumer" type="number">
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-lg" @click="sendInformations()" type="button">Salvar</button>
                </div>
            </div>
            
            <div class="row">
                <hr class="w-100 bg-white text-white my-4">

                <div class="d-flex justify-content-center mt-1" v-if="hasTargetInformations">
                    <button class="btn btn-primary btn-lg" @click="detonate()" type="button">Detonate!</button>
                </div>
            </div>

            <div class="row mt-4 text-white lead">
                <p>Métricas de Requisições</p>
                <div class="col-3 mb-2">
                    <label for="averageExecutionTime" class="form-label"><small>Média de Tempo de Execução</small></label>
                    <input type="text" id="averageExecutionTime" class="form-control bg-dark text-white" :value="metrics.averageExecutionTime" readonly>
                </div>
                <div class="col-3 mb-2">
                    <label for="maxExecutionTime" class="form-label"><small>Maior Tempo de Execução</small></label>
                    <input type="text" id="maxExecutionTime" class="form-control bg-dark text-white" :value="metrics.maxExecutionTime" readonly>
                </div>
                <div class="col-3 mb-2">
                    <label for="totalRequests" class="form-label"><small>Total de Requisições</small></label>
                    <input type="text" id="totalRequests" class="form-control bg-dark text-white" :value="metrics.totalRequests" readonly>
                </div>
                <div class="col-3 mb-2">
                    <label for="dateTime" class="form-label"><small>Data da Última Requisição</small></label>
                    <input type="text" id="dateTime" class="form-control bg-dark text-white" :value="metrics.dateTime" readonly>
                </div>
            </div>

            <hr class="w-100 bg-white text-white my-4">

            <div class="text-white justify-content-center text-center align-items-center">
                <p class="lead">Histórico de Requisições</p>
                <div v-for="requestInformation in listRequestInformations" class="col-12">
                    <div class="row justify-content-center text-center align-items-center">
                        <div class="col-3 mb-2">
                            <label for="averageExecutionTime" class="form-label"><small>Tempo de Execução</small></label>
                            <input type="text" id="averageExecutionTime" class="form-control bg-dark text-white" :value="requestInformation.executionTime" readonly>
                        </div>
                        <div class="col-3 mb-2">
                            <label for="maxExecutionTime" class="form-label"><small>Ínicio da Requisição</small></label>
                            <input type="text" id="maxExecutionTime" class="form-control bg-dark text-white" :value="requestInformation.initDateTime" readonly>
                        </div>
                        <div class="col-3 mb-2">
                            <label for="maxExecutionTime" class="form-label"><small>Final da Requisição</small></label>
                            <input type="text" id="maxExecutionTime" class="form-control bg-dark text-white" :value="requestInformation.finalDateTime" readonly>
                        </div>
                        <div class="col-2 mb-2">
                            <label for="totalRequests" class="form-label"><small>N da Requisição</small></label>
                            <input type="text" id="totalRequests" class="form-control bg-dark text-white" :value="requestInformation.requestNumber" readonly>
                        </div>
                        <div class="col-1 mb-2">
                            <button data-bs-toggle="modal" @click="selectedResponseFromClient = requestInformation.responseFromClient" data-bs-target="#exampleModal" class="btn btn-primary" type="button" style="margin-top: 1.9rem!important;">
                                Detalhes
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content bg-dark">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="" class="form-label"></label>
                            <textarea v-model="selectedResponseFromClient" class="form-control bg-dark text-white" name="" id="" rows="30"></textarea>
                        </div>
                        
                        <button type="button" class="btn btn-primary mt-3" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
    const socket = io("http://localhost:5000");

    var app = new Vue({
        el: '#app',
        data: {
            listRequestInformations: [],
            selectedResponseFromClient: "",
            targetInformations: {
                endpoint: "",
                authorization: "",
                jsonPayload: "",
                consumersQuantity: 0,
                requestsPerConsumer: 0
            },
            hasTargetInformations: false,
            response: 'Started',
            metrics: {
                averageExecutionTime: 0,
                dateTime: 0,
                totalRequests: 0
            }
        },
        computed: {
            formattedText() {
                return this.response.replace(/\n/g, '\n');
            }
        },
        mounted() {
            this.getInformations();
            
            socket.on('requests', (requestInformations) => {
                this.listRequestInformations.push(requestInformations.content);
            });

            socket.on('metrics', (metrics) => {
                this.metrics = metrics; 
            });
        },

        methods: {
            async sendInformations() {
                await axios.post('http://localhost:5000', this.targetInformations);
                this.getInformations();
            },

            async getInformations() {
                let response = await axios.get('http://localhost:5000/target-infos');
                this.targetInformations = response.data;
                this.hasTargetInformations = Object.keys(this.targetInformations).length !== 0;
            },

            async detonate() {
                axios.get('http://localhost:5000/detonate', this.targetInformations);
            }
        }
    });

    </script>
</body>
</html>
